[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
djangorestframework = "*"
drf-spectacular = "*"
djangorestframework-api-key = "*"
ruff = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.11"
